# Core
celery[redis]
pydantic>=2.0
fastapi
uvicorn

# Database
sqlalchemy>=2.0
psycopg2-binary
alembic

# Templating
jinja2

# PDF Generation
PyPDF2
weasyprint

# HTTP
requests
curlify
boto3

# Logging
python-json-logger

# Monitoring
flower
debugpy

# Firebase
firebase-admin==6.6.0
