{
  "app": {
    "application_mode": "TEST",
    "test_email": "your-test@example.com",
    "test_phone": "+91xxxxxxxxxx",
    "test_fcm_token": "YOUR_TEST_FCM_TOKEN"
  },
  "notifications": {
    "max_retries": "4"
  },
  "smtp": {
    "server": "YOUR_SMTP_SERVER",
    "port": "587",
    "username": "YOUR_SMTP_USERNAME",
    "password": "YOUR_SMTP_PASSWORD",
    "from_email": "notifications@yourdomain.com"
  },
  "sms": {
    "api_url": "YOUR_API_URL",
    "api_key": "YOUR_SMS_API_KEY",
    "entity_id": "YOUR_ENTITY_ID",
    "msg_type": "UC",
    "signature": "YOUR_SIGNATURE",
    "username": "YOUR_USERNAME"
  },
  "whatsapp": {
    "api_url": "YOUR_WA_API_URL",
    "authentication_type": "YOUR_WA_API_KEY",
    "long_term_token": "YOUR_WA_SENDER_ID",
    "journey_id": "YOUR_WA_MEDIA_UPLOAD_URL",
    "admin_phone_no": "YOUR_WA_MEDIA_UPLOAD_URL"
  },
  "database": {
    "url": "YOUR_DB_URL"
  },
  "redis": {
    "url": "YOUR_REDIS_URL",
    "template_cache_ttl": "86400"
  },
  "aws": {
    "region": "ap-south-1",
    "access_key_id": "YOUR_AWS_ACCESS_KEY_ID",
    "secret_access_key": "YOUR_AWS_SECRET_ACCESS_KEY"
  },
  "api_keys": {
    "shared_key": "YOUR_SHARED_API_KEY",
    "admin_keys": {
      "admin_name": "YOUR_ADMIN_API_KEY"
    }
  },
    "firebase": {
    "service_account_json": {
      "type": "service_account",
      "project_id": "REPLACE_WITH_PROJECT_ID",
      "private_key_id": "REPLACE_WITH_PRIVATE_KEY_ID",
      "private_key": "REPLACE_WITH_PRIVATE_KEY",
      "client_email": "REPLACE_WITH_CLIENT_EMAIL",
      "client_id": "REPLACE_WITH_CLIENT_ID",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "REPLACE_WITH_CLIENT_CERT_URL",
      "universe_domain": "googleapis.com"
    }
  }
}
