<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Approved</title>
  </head>
  <body
    style="
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    "
  >
    <p>
      Dear $buyer_name<br /><br />
      We are sorry to inform you that your dispatch plan against your<br />
      order bearing no. : <span>$order_id</span>, 
      has been rejected by your supplier : <span>$seller_name</span><br />
    </p>
    <table style="border: 1px solid black; border-collapse: collapse">
      <tr>
        <th
          style="
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
          "
        >
          Product Name
        </th>
        <th
          style="
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
          "
        >
          Ordered Quantity
        </th>
      </tr>
      $products_table
    </table>
    <p>Best Regards, <br />Team Humbee</p>
  </body>
</html>
