<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Dispatch Mail</title>
  </head>
  <body
    style="
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    "
  >
    <p>
      Dear <u>$buyer_name</u><br /><br />
      We are delighted that your supplier : <span>$seller_name</span><br />
      has confirmed dispatch of your order, copy of invoice is attached.<br />
      Invoice No. : <span>$invoice_no</span><br />
      Amount : <span>$amount</span><br />
      Date : <span>$date</span><br /><br />
      Best Regards, <br />
      Team Humbee
    </p>
  </body>
</html>
