<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PO Status Mail</title>
  </head>
  <body
    style="
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    "
  >
    <p>
      Dear <span style="color: black">{0}</span><br /><br />
      We have received Successful Payment transaction of M/s
      <span style="color: black">{1}</span><br /><br /><br />
      Payout ID : <span style="color: black">{2}</span><br />
      Amount Paid : <span style="color: black">{3}</span><br />
      Payout Date : <span style="color: black">{4}</span><br /><br />
      Best Regards<br /><br />
      Team Humbee
    </p>
  </body>
</html>
