<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Price Update</title>
</head>
<body style="
         box-sizing: border-box;
         margin: 0;
         padding: 0;
       ">
  <p>
    Dear Sales Team,<br /><br />
    Please find the Cluster/District wise updated price for $supplier_name.<br />
    The updated price list is attached for your reference (as of $price_update_date).
    <br />
    <table style="border: 1px solid black; border-collapse: collapse">
      <tr>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 10px;">
          Base Product Name
        </th>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 10px;">
          Cluster/District Name
        </th>
        <th style="border: 1px solid black; border-collapse: collapse; padding: 10px;">
          Price(INC GST/FOR)
        </th>
      </tr>
      $products_table
    </table>
    <br /><br />
    Best Regards,<br />
    Team Humbee
  </p>
</body>
</html>
